body{
    background-image: url("../images/bg.jpg");
    position: relative;
    margin: 0px;
    padding: 80px;
}

#effort{
    background-color: rgba(200,200,200,0.5);
}

#logo{
    padding: 30px;
}

.container{
    height: 1000px;
}

#btn_getNews{
    float: left;
}
#newsList{
    float: left;
    width:200px;
    height: 500px;
    overflow: hidden;
}